* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	
	background-color: white;
	overflow-x: hidden;
	
    font-family: "Lato Regular", "Open Sans", sans-serif;
    font-weight: 300;
	font-size: 10px;
    color: black;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    border: 0;
}

.ripple{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: white;
	z-index: 5000;
	opacity: 0.3;
	transform: scale(0);
	transition: transform 0.2s ease;
}

.hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
  
    clip: rect(0 0 0 0);
}

/*--components--*/

.c-navigation {
	background-color: rgba(33,223,234,0.7);
}

main {
	background-image: url(/images/bg_1.JPG);
	background-repeat: no-repeat;
	background-size: contain;
}

.c-btn__order {
	font-size: 24px;
	border-radius: 25px;
}

.c-section {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.c-section--high {
	height: auto;
}

.c-section--gradient {
	background-image: linear-gradient(rgb(255,255,255),rgb(122,185,191));
}

.c-section--aquatic {
	background-color: rgb(122,185,191);
}

.c-intro__block {
	position: absolute;
	top: 30vw;
	margin-right: 13%;
	margin-left: 13%;
}

.c-intro__text {
	background-color: rgba(226,231,232,0.7);
	border-radius: 25px;
	padding: 10px;
}

.c-about__text {
	background-color: rgba(33,223,234,0.7);
	border-radius: 25px;
	padding: 10px;
	margin-bottom: 100px;
}

.c-about__text--white {
	opacity: 0;
	width: auto;
	background-color: rgba(236,236,236,0.7);
	transition: all 1.5s ease;
}

.c-about__property {
	opacity: 0;
	transition: all 1.5s ease;
}

.c-about__block:hover .c-about__property,
.c-about__block:hover .c-about__text--white {
	opacity: 1;
	background-color: lightgray;
}

.c-cost__block {
	width: 75%;
	height: 90%;
	border: 5px solid white;
	margin: auto;
	margin-top: 5%;
	border-radius: 35px;
}
